<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Chat-io</title>
</head>


<body>
    <%=user.user.providerData[0].displayName%>
<div class="chat-container">
        <div id="chat">

        </div>
        <br>
        <div class="chat-inputs">
            <input type="text" id="msg"   placeholder="Message" required>
            <button class="btn" onclick="send()">send</button>
        </div>
        
    </div>
</body>
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js" integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4" crossorigin="anonymous"></script>
<script>
    var socket = io();
    socket.on('disconnect', () => {
       // console.log("Disconnected");
    });

    socket.on('showmsg', (data) => {
        //console.log(data);
        
        var chat = document.getElementById("chat");
        var msg = document.createElement('div');
        let displayName = "<%=user.user.providerData[0].displayName%>";
        let uid = "<%=user.user.uid%>";
        //console.log(displayName);
        //console.log(uid);


        msg.innerHTML = data.userName + ": " + data.data;
        if(data.uid==uid){
            msg.className += "msg-se";
            
        }else{
            msg.className += "msg-re";

        }

        
        chat.append(msg);
        chat.scrollTop = msg.offsetHeight + msg.offsetTop;
    });

    function send() {
        var msgField = document.getElementById("msg");
        //var usernameField = document.getElementById("username");

        var msg = msgField.value;
        //var username = usernameField.value;

        socket.emit('msg', { msg: msg });
        msgField.value = '';

    }

    window.addEventListener('keydown', function (e) {
  if (e.key === 'Enter') {
    send();
  }
}, false);
    
</script>

</html>