<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Welcome <%=user.user.providerData[0].displayName%> </h1>
  <p>This is your home page.</p>
  <a href="/chat">Chat</a><br>
  <a href="/logout">logout</a><br>
  <a href="/profile">Manage Profile</a><br>
  

  
</body>
</html>