<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/app.css">
  <title>Home</title>
</head>
<body>
  <div class="card">
    <h1>Welcome</h1>
    <h2><%=user.user.providerData[0].displayName%></h2>
    <p>This is your home page.</p>
    <a class ="btn" href="/chat">Chat</a><br>
    <a class ="btn" href="/logout">logout</a><br>
    <a class ="btn" href="/profile">Manage Profile</a><br>
  </div>
 
  

  
</body>
</html>