<!DOCTYPE html>
<html>
<head>
 <title><%= title %></title>
 <style>
   .form_container {
      background-color: aqua;
      display: flex;
      flex-direction: column;
      align-items: center;
      top:0;
      
      left:0;
      right:0;
      position: absolute;
   }
  
 </style>
</head>
<body>

 <div class="form_container">
   <h1>Login</h1>
 <form action="/login" method="post">

    <input type="email" id="email" name="email" placeholder="Email" />
    <br />
   
    <input type="password" id="pwd" name="pwd" required placeholder="Password"/>
    <br />
    <button type="submit">Login</button>
 </form>
</div>
</body>
</html>