<!DOCTYPE html>
<html>
<head>
  
  
<body>
  <h1>Sign Up</h1>
  <form action="/register" method="post">
    <label for="first_Name">First:</label><br>
    <input type="text" id="First_Name" name="First_Name"><br>

    <label for="last_Name">Last</label><br>
    <input type="text" id="Last_Name" name="Last_Name"><br>


    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br><br>

    <label for="pwd">Password:</label><br>
    <input type="password" id="pwd" name="pwd"><br><br>

    <input type="submit" value="Submit">
  </form>


</body>
</html>