@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    background-color: #323232;
    font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}


  .login_view,.reg_view{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

   .form {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  padding: 20px;
  background: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  width: 285px;
  align-self: auto;
}


.title {
  color: var(--font-color);
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 25px;
}

.title span {
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 17px;
}

input[type="text"],input[type="email"],input[type="password"] {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input:focus {
  border: 2px solid var(--input-focus);
}






.button-log:active, .button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.btn-confirm {
  margin: 0px auto 0 auto;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

.btn {
  margin: 0px auto 0 auto;
  width: auto;
  min-width: 120px;
  min-height:40px ;
  height: auto;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.card{
    --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  padding: 20px;
  background: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  align-self: auto;
}

#chat {
  max-height: 100vh;
  min-height: 500px;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth; 

}
.chat-container{
    --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  padding: 20px;
  background: lightgrey;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items:normal;
  align-content: normal;
  
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  align-self: auto;
  height: 90vh;
}
.chat-inputs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.chat-inputs >input[type="text"]{
  width:100%;
}

#chat::-webkit-scrollbar {
  display: none;
}
.msg-re{
  background-color: #2d8cf0;
  min-height: 20px;
  min-width: none;
  width: 40px;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
}
.msg-se{
  position: relative;
  background-color: #ff0000;
  width: 40px;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
  
}